* {
    margin: 0;
    padding: 0;
    font-family: "fortnite", sans-serif;
}

@font-face {
    font-family: 'fortnite';
    src: url("/fonts/fortnite.otf") format("opentype");
}

body {
    background-image: url(../images/FBG.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.game{

    width: 25rem;

    /*Por algum motivo essa parte so fica centralizada com a margin 0 auto, não mexe se possível*/
    margin: 0 auto;
    padding: 0.8rem;
    border: solid black 1px;
    color: white;
    border-radius: 10px;
    /*Fundo feio de mais, vamo ver depois uma cor mais legalzinha*/
    background-color: rgb(75, 75, 78);
    border: solid black 1px;

}

.footer{

    margin-top: 15rem;

}

#inputBox{

    padding: 10px;

}

.redeItem{

    margin: 10px;

}